#should it start with a comment?
*~
*.mdb
*.dll
.idea
obj
Releases
Screenshots
/GameData/ConfigurableContainers/VolumeConfigs.user
/CC.UI/CC.UI.csproj.DotSettings
/GameData/ConfigurableContainers/Parts/@thumbs
